.flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.btn-base {
    background-color: var(--clr-secondary-light);
    border: .5px solid var(--clr-secondary-dark);
    /* border-radius: 6px; */
    /* box-shadow: 0px 1px 5px var(--clr-gray-4); */
    font-weight: 600;
    min-width: 180px;
    padding: 5px;
    width: fit-content;
}

.full-width {
    flex-basis: 100%;
    width: 100%;
}

.btn-half-width {
    min-width: 90px;
}

.dialog-base {
    background-color: var(--clr-gray-0);
    border: 2px solid var(--clr-primary-dark);
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 4px var(--clr-gray-4);
}

@media screen and (min-width: 800px) {
    .card {
        height: 180px;
    }
}

:root {
    /* *COLOR SCHEME */
    /* PRIMARY - SPACE CADET */
    --clr-primary-light: #51547B;
    --clr-primary-main: #2b2d42;
    --clr-primary-dark: #101119;
    /* SECONDARY - ALICE BLUE */
    --clr-secondary-light: #EDF2F4;
    --clr-secondary-main: #C0D1D8;
    --clr-secondary-dark: #8DADB9;
    /* TERTIARY - MANATEE */
    /* --clr-secondary-light: #C3CAD5;
    --clr-secondary-main: #8d99ae;
    --clr-secondary-dark: #66758F; */
    /* EVENT */
    --clr-successful: #90EE90;
    --clr-unsuccessful: #ED1C24;
    /* GRAY */
    --clr-gray-0: #EDEDED;
    --clr-gray-1: #DBDBDB;
    --clr-gray-2: #ADADAD;
    --clr-gray-3: #808080;
    --clr-gray-4: #525252;
    --clr-gray-5: #242424;
    /* COMMON */
}