article {
    text-align: center;
}

section {
    margin-bottom: 40px;
}

section>img {
    float: left;
    margin-right: 10px;
}

section>h2 {
    clear: both;
    text-align: center;
}

section>p {
    margin-right: 10px;
    text-align: justify;
    text-justify: auto;
}

@media screen and (max-width: 639px) {
    #picture-container {
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .responsive-media {
        height: 80%;
        left: 10%;
        width: 80%;
    }
}